NODE_ENV=development
PORT=5001

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=zuvio_global_school
DB_USER=root
DB_PASSWORD=

JWT_SECRET=supersecretjwtkey

APP_URL=http://localhost:5173
API_URL=http://localhost:5001
